.collapse {
  font-size: 20px;
  padding-bottom: 12px;
  border-color: #787f91;
  border-bottom: 1px solid #d9d9d9;

  &__header {
    align-items: center;
    gap: 20px;
    padding: 20px 0 24px;
    color: #fcfcfd;
    background-color: #2c2d36;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    line-height: 1.5714285714285714;
    cursor: pointer;
    transition: all 0.3s, visibility 0s;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    color: #787f91;
    padding: 0;
    order: 1;
    padding-inline-end: 0;
    padding-inline-start: 12px;
  }

  &__text {
    margin-inline-end: auto;
    flex: auto;

    h3 {
      font-family: Raleway, sans-serif;
      font-size: 24px;
      font-weight: 600;
      line-height: 125%;
    }
  }
}