.faqSmall {
  margin-bottom: 184px;

  &__wrapper {
    display: grid;
    grid-template-columns: 432px 1fr;
    align-items: center;
    grid-gap: 24px 90px;
    gap: 24px 90px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }
}