.notSure {
  margin-bottom: 196px;

  &__wraper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    grid-gap: 130px;
    gap: 130px;
  }

  &__left {
    position: relative;
    width: 100%;

    > svg {
      position: absolute;
      right: -74px;
      top: 15px;
    }
  }

  &__title {
    margin-bottom: 40px;
  }

  &__arrow {
    position: absolute;
    right: -74px;
    top: 15px;
  }

  &__questions {
    display: flex;
    flex-direction: column;
    gap: 20px;

    > div {
      display: flex;
      align-items: center;
      gap: 24px;
      padding: 8px 12px;
      font-family: Raleway, sans-serif;
      font-size: 24px;
      font-weight: 500;
      line-height: 125%;

      svg {
        flex-shrink: 0;
      }
    }
  }

  &__card {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 24px 32px;
    gap: 24px;
    border-radius: 32px;
    background-color: #fcfcfd;

    .caption {
      color: #787f91;
      font-family: Raleway, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 125%;
      margin-bottom: 12px;
    }
  }
}